.filters input[type="text"], .filters select {width: 100%; border: 1px #e5e6e7 solid; min-height: 22px; line-height: 22px; padding: 5px 6px;}
.filters button.ui-button {display: none;}
.live_editor {background-color: #f2f2f2;}
.live_editor input[type="text"] {width: 100%;}
.filters select {padding: 5px 6px;}
.table .short_cell {width: 64px;}
.table .icon_cell {font-size: 14px;}
.table > tbody > tr > td a {text-decoration: underline;}
.table > thead > tr > th a {color: #676A6C;}
.table > thead > tr > th a.sort-link:after {margin: 0 0 0 7px; content: "\f0dc"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.table > thead > tr > th a.sort-link.asc:after {content: "\f0de";}
.table > thead > tr > th a.sort-link.desc:after {content: "\f0dd";}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {vertical-align: middle;}
.table > thead > tr > th {font-size: 14px; position: relative;}
.grid-view .pagination {margin: 0;}
label.error {margin-left: 0;}
.errorSummary, .error, span.required, .errorMessage {color: #ed5565;}
.errorSummary {margin: 0 0 30px 0; padding: 0 0 15px 0; border-bottom: 1px #dadada dashed;}
.checkbox-inline {padding-top: 5px;}
.checkbox-inline label {font-weight: 400; display: inline-block;}
.form-group input[type="file"] {display: inline-block;}
.short_cell {width: 50px;}

.combobox-cell, .combobox-group {width: 100%;}
.chosen-container {width: 100%; display: block;}
.chosen-container-single .chosen-single div b {background-position: 0px 3px;}
.form-control .chosen-container-single .chosen-single div b {background-position: 0px 8px;}
.chosen-container-single .chosen-single {border-color: #e5e6e7; min-height: 22px; line-height: 22px; padding: 6px 12px;}

.select2-container .select2-selection--single {height: 34px; font-size: 14px;}
.select2-container--default .select2-selection--single {border-radius: 1px; border: 1px solid #e5e6e7; padding: 6px 12px;}
.filters .select2-container--default .select2-selection--single {padding: 6px;}
.select2-container .select2-selection--single .select2-selection__rendered {line-height: 22px; padding-left: 4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow {top: 4px;}
.select2-dropdown {border-color: #e5e6e7;}

.navbar-top-links .dropdown-menu li a.simple-link {
    padding: 0;
    font-size: 12px;
}

#side-menu i.fa {font-size: 14px;}
/*.mini-navbar #side-menu i.fa {font-size: 28px;}*/
body.mini-navbar .nav-second-level .nav-label, body.mini-navbar .navbar-default .nav.nav-second-level li a span {
  display: inline;
}
.mini-navbar .nav li:focus>.nav-second-level, body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover>.nav-second-level {min-width: 200px;}

.breadcrumb {
    display: inline-block;
}

.sortable-view {
    position: relative;
}

.notification-message {
    margin: -9px -10px;
    padding: 10px;
}

.notification-message.active {
    background-color: #f8fafd;
}

    .notif-time-left {
        padding-left: 10px;
    }

    .navbar-top-links .dropdown-menu .notification-message .media-body a {
        padding: 0;
        font-size: 12px;
    }
    
.checkbox label {
    margin-bottom: 5px;
}
    
    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        margin-top: 3px;
        margin-left: 0;
    }
    
.i-checks {
    margin-top: 20px;
    margin-bottom: 20px;
}
    
    .i-checks > div {
        margin-top: -1px;
    }

    .i-checks label {
        margin-bottom: 0;
        padding: 0 0 0 10px;
        font-weight: 700;
    }